# Base de Datos PostgreSQL (Ajustar credenciales)
DATABASE_URL="postgresql://USUARIO:PASSWORD@localhost:5432/caja_clinica?schema=public"

# Seguridad y Autenticación (Cambiar en producción)
JWT_SECRET="mi-secreto-super-seguro-en-produccion"
DISABLE_AUTH="false"

# Servidor (Opcionales)
PORT="3000"
# CORS_ORIGIN="http://midominio.com"
